* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.125rem;
  margin: 0;

  background: hsl(44, 92%, 55%);
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}
