.ball {
  border-radius: 50%;
  height: 11rem;
  width: 11rem;
  display: grid;
  place-items: center;
  padding: 1rem;
  border: 0.5rem dotted transparent;
}

.ball h2,
.ball p {
  margin: 0;
}

.ball h2 {
  font-size: 1.2rem;
}

.ball button {
  background: none;
  font-size: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border-color: white;
  cursor: pointer;
}

.ball button:hover {
  font-size: 2.3rem;
}
